body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-gap: 10px;
}



/*desktop resolution start*/

@media (min-width: 992px)
{
.grid-container
{
    display: grid;
    grid-template-areas:
        'myHeader myHeader myHeader myHeader'
        'myHeader myHeader myHeader myHeader'
        'hero hero hero myAd'
        'hero hero hero sidebar'
        'myMain myMain myMain sidebar'
        'myMain myMain myMain sidebar'
        'myFooter myFooter myFooter myFooter';
    padding: 10px;
    grid-template-columns: [col-start] 1fr 1fr 1fr 1fr [col-end];
    grid-template-rows: repeat(7, minmax(20px, auto));
    gap: 10px;
}

.grid-item1
{
    display: grid;
    height:auto;
    grid-area: myHeader;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    gap: 10px;
}

.sub-header1
{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: rgb(232, 250, 255);
    padding: 10px;
}

.sub-header1:hover
{
    background-color: rgb(255, 242, 58);
}

.sub-header2
{
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(232, 250, 255);
    padding: 10px;
}

.sub-header2:hover
{
    background-color: rgb(255, 242, 58);
}

.sub-header3
{
    text-align: center;
    grid-column-start: 4;
    grid-column-end: 4;
    background-color: rgb(232, 250, 255);
    padding: 10px;
}

.sub-header3:hover
{
    background-color: rgb(255, 242, 58);
}

.grid-item2 
{
    display: grid;
    height:auto;
    margin-top: 3px;
    margin-bottom: 3px;
    grid-area: hero;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    gap: 10px;
  }
  
  .sub-item1
  {
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: rgb(232, 250, 255);
    padding: 10px;
  }

  .sub-item1:hover
{
    background-color: rgb(255, 242, 58);
}

  .sub-item2
  {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(232, 250, 255);
    padding: 10px;
  }

  .sub-item2:hover
  {
    background-color: rgb(255, 242, 58);
  }

.sub-main-ad
{
    display:none
}

.grid-item3
{
    height:fit-content;
    display: grid;
    grid-area: myAd;
}

.grid-item3 img
{
    vertical-align: top;
    width: 450px;
}

.grid-item4
{
    display: grid;
    height:auto;
    grid-area: myMain;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    gap: 10px;
}
.sub-main1
{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(232, 250, 255);
    padding: 10px;
}

.sub-main1:hover
{
    background-color: rgb(255, 242, 58);
}

.sub-main2
{
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(232, 250, 255);
    padding: 10px;
}

.sub-main2:hover
{
    background-color: rgb(255, 242, 58);
}

.grid-item5 
{
    display: grid;
    height:auto;
    align-content: start;
    grid-area: sidebar;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    gap: 10px;
}

.sub-sidebar1
{
    height:auto;
    grid-row-start: 2;
    background-color: rgb(232, 250, 255);
    padding: 10px;
}

.sub-sidebar1:hover
{
    background-color: rgb(255, 242, 58);
}

.grid-item6 
{
    display: grid;
    text-align: center;
    height: auto;
    grid-area: myFooter;
    background-color:rgb(138, 208, 230);
    padding: 10px;
}
}
/*desktop resolution end*/

/*tablet resolution start*/
@media (min-width: 576px) and (max-width: 992px)
{
    .grid-container
    {   
        display: grid;
        grid-template-areas:
        'myHeader myHeader myHeader'
        'myHeader myHeader myHeader'
        'hero hero hero'
        'hero hero hero'
        'hero hero hero'
        'myMain myMain myMain'
        'myMain myMain myMain'
        'myMain myMain myMain'
        'sidebar sidebar sidebar'
        'sidebar sidebar sidebar'
        'myFooter myFooter myFooter';
        padding: 5px;
        grid-template-columns: [col-start] 1fr 1fr 1fr [col-end];
        grid-template-rows: repeat(11, minmax(20px, auto));
        gap: 10px;

    }

.grid-item1
{
    display: grid;
    height:fit-content;
    grid-area: myHeader;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    gap: 10px;
}

.sub-header1
{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: rgb(232, 250, 255);
    padding: 10px;
}

.sub-header1:hover
{
    background-color: rgb(255, 242, 58);
}

.sub-header2
{
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: rgb(232, 250, 255);
    padding: 10px;
}

.sub-header2:hover
{
    background-color: rgb(255, 242, 58);
}
.sub-header3
{
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: rgb(232, 250, 255);
    padding: 10px;
}
.sub-header3:hover
{
    background-color: rgb(255, 242, 58);
}

.grid-item2 
{
    display: grid;
    height:fit-content;
    grid-area: hero;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    gap: 10px;
  }
  
  .sub-item1
  {
    height:fit-content;
    grid-row-start: 2;
    background-color: rgb(232, 250, 255);
    padding: 10px;
  }

  .sub-item1:hover
{
    background-color: rgb(255, 242, 58);
}

  .sub-item2
  {
    grid-row-start: 3;
    background-color: rgb(232, 250, 255);
    padding: 10px;
  }

  .sub-item2:hover
  {
    background-color: rgb(255, 242, 58);
  }

.grid-item3
{
    display:none
}

.grid-item4
{
    display: grid;
    height:fit-content;
    grid-area: myMain;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    gap: 10px;

}
.sub-main1
{
    grid-row-start: 2;
    background-color: rgb(232, 250, 255);
    padding: 10px;
}

.sub-main1:hover
{
    background-color: rgb(255, 242, 58);
}

.sub-main2
{
    grid-row-start: 3;
    background-color: rgb(232, 250, 255);
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.sub-main2:hover
{
    background-color: rgb(255, 242, 58);
}

.sub-main-ad
{
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end:4;
}
.sub-main-ad img
{
    display: inline;
    max-width:100%;
    max-height:100%;
}

.grid-item5 
{
    display: grid;
    height:fit-content;
    grid-area: sidebar;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    gap: 10px;
}

.sub-sidebar1
{
    height:fit-content;
    grid-row-start: 2;
    background-color: rgb(232, 250, 255);
    padding: 10px;
}

.sub-sidebar1:hover
{
    background-color: rgb(255, 242, 58);
}

.grid-item6 
{
    display: grid;
    text-align: center;
    height: fit-content;
    grid-area: myFooter;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    gap: 10px;
}

}
/*tablet resolution end*/

/*smartphone resolution start*/

@media (max-width: 576px)
{
    .grid-container
    {   
        display: grid;
        grid-template-areas:
        'myHeader myHeader'
        'myHeader myHeader'
        'myHeader myHeader'
        'hero hero'
        'hero hero'
        'myMain myMain'
        'myMain myMain'
        'myMain myMain'
        'myMain myMain'
        'myFooter myFooter';
        padding: 5px;
        grid-template-columns: [col-start] 1fr 1fr [col-end];
        grid-template-rows: repeat(10, minmax(20px, auto));
        margin-top: 5px;
        margin-bottom:5px;
    }

.grid-item1
{
    display: grid;
    height:fit-content;
    grid-area: myHeader;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    gap: 5px;
}

.sub-header1
{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(232, 250, 255);
    padding: 10px;
}

.sub-header1:hover
{
    background-color: rgb(255, 242, 58);
}

.sub-header2
{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: rgb(232, 250, 255);
    padding: 10px;
}

.sub-header2:hover
{
    background-color: rgb(255, 242, 58);
}
.sub-header3
{
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: rgb(232, 250, 255);
    padding: 10px;
}
.sub-header3:hover
{
    background-color: rgb(255, 242, 58);
}

.grid-item2 
{
    display: grid;
    height:fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    grid-column: 1/2;
    grid-row: 4/5;
    grid-area: hero;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    gap: 5px;
  }
  
  .sub-item1
  {
    display: none;
  }

  .sub-item2
  {
    grid-row-start: 2;
    background-color: rgb(232, 250, 255);
    padding: 10px;
  }

  .sub-item2:hover
  {
    background-color: rgb(255, 242, 58);
  }

.grid-item3
{
    display: none;
}

.grid-item4
{
    display: grid;
    height:fit-content;
    grid-area: myMain;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    gap: 5px;

}
.sub-main1
{
    grid-row-start: 2;
    background-color: rgb(232, 250, 255);
    padding: 10px;
    margin-bottom: 5px;
}

.sub-main1:hover
{
    background-color: rgb(255, 242, 58);
}

.sub-main-ad
{
    display: grid;
    grid-row-start: 3;
    margin-bottom: 5px;
}
.sub-main-ad img
{
    display: inline;
    max-width:100%;
    max-height:100%;
}

.sub-main2
{
    grid-row-start: 4;
    background-color: rgb(232, 250, 255);
    padding: 10px;
}

.sub-main2:hover
{
    background-color: rgb(255, 242, 58);
}

.grid-item5 
{
    display: none;
}

.grid-item6 
{
    display: grid;
    text-align: center;
    height:fit-content;
    grid-area: myFooter;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    margin-top: 5px;
}

}
/*smartphone resolution end*/

h2 {
    color:black;
}
h4 {
    color:rgb(17, 19, 20);
}

