body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    min-height: 100vh;
    max-height: fit-content;
    display: grid;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*desktop resolution start*/

@media (min-width: 992px)
{
.grid-container
{
    display: grid;
    grid-template-areas:
        'myHeader myHeader myHeader myHeader'
        'myHeader myHeader myHeader myHeader'
        'hero hero hero myAd'
        'hero hero hero myAd'
        'myMain myMain myMain sidebar'
        'myMain myMain myMain sidebar'
        'myFooter myFooter myFooter myFooter';
    padding: 10px;
    grid-template-columns: [col-start] 1fr 1fr 1fr 1fr [col-end];
    grid-template-rows: repeat(7, minmax(20px, auto));
    gap: 20px;
}

.grid-item1
{
    display: grid;
    height:auto;
    grid-area: myHeader;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    grid-template-columns: subgrid;
    /*grid-template-rows: subgrid;*/
}

.sub-header1
{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: rgb(232, 250, 255);
    padding: 10px;
    gap: 10px;
}

.sub-header1:hover
{
    background-color: rgb(255, 242, 58);
}

.sub-header2
{
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(232, 250, 255);
    padding: 10px;
    gap: 10px;
}

.sub-header2:hover
{
    background-color: rgb(255, 242, 58);
}

.sub-header3
{
    text-align: center;
    grid-column-start: 4;
    grid-column-end: 4;
    background-color: rgb(232, 250, 255);
    padding: 10px;
    gap: 10px;
}

.sub-header3:hover
{
    background-color: rgb(255, 242, 58);
}

.grid-item2 
{
    display: grid;
    height:auto;
    margin-top: 3px;
    margin-bottom: 3px;
    /*grid-column: 1/3;
    grid-row: 3/4;*/
    grid-area: hero;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    grid-template-columns: subgrid;
    /*grid-template-rows: subgrid;*/
  }
  
  .sub-item1
  {
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: rgb(232, 250, 255);
    padding: 10px;
    gap: 20px;
  }

  .sub-item1:hover
{
    background-color: rgb(255, 242, 58);
}

  .sub-item2
  {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(232, 250, 255);
    padding: 10px;
    gap: 20px;
  }

  .sub-item2:hover
  {
    background-color: rgb(255, 242, 58);
  }

.grid-item3
{
    display: grid;
    height: auto;
    grid-area: myAd;
    background-color: rgb(243, 66, 66);
    padding: 10px;
    grid-template-columns: subgrid;
    
}
.grid-item4
{
    display: grid;
    height:auto;
    /*grid-column: 1/3;
    grid-row: 5/6;*/
    grid-area: myMain;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    grid-template-columns: subgrid;
    /*grid-template-rows: subgrid;*/

}
.sub-main1
{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(232, 250, 255);
    padding: 10px;
    gap: 20px;
}

.sub-main1:hover
{
    background-color: rgb(255, 242, 58);
}

.sub-main2
{
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(232, 250, 255);
    padding: 10px;
    gap: 20px;
}

.sub-main2:hover
{
    background-color: rgb(255, 242, 58);
}

.grid-item5 
{
    display: grid;
    height:auto;
    /*grid-column: 4/4;
    grid-row: 5/6;*/
    grid-area: sidebar;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    grid-template-columns: subgrid;
    /*grid-template-rows: subgrid;*/
}

.sub-sidebar1
{
    grid-column-start: 4;
    grid-column-end: 4;
    background-color: rgb(232, 250, 255);
    padding: 10px;
    gap: 20px;
}

.sub-sidebar1:hover
{
    background-color: rgb(255, 242, 58);
}

.grid-item6 
{
    display: grid;
    height:auto;
    grid-area: myFooter;
    background-color:rgb(138, 208, 230);
    padding: 10px;
}
}
/*desktop resolution end*/

/*tablet resolution start*/
@media (min-width: 576px) and (max-width: 992px)
{
    .grid-container
    {   
        display: grid;
        grid-template-areas:
        'myHeader myHeader myHeader'
        'myHeader myHeader myHeader'
        'hero hero hero'
        'hero hero hero'
        'hero hero hero'
        'myMain myMain myAd'
        'myMain myMain myAd'
        'myMain myMain myAd'
        'sidebar sidebar sidebar'
        'sidebar sidebar sidebar'
        'myFooter myFooter myFooter';
        padding: 5px;
        grid-template-columns: [col-start] 1fr 1fr 1fr [col-end];
        grid-template-rows: repeat(11, minmax(20px, auto));
        gap: 10px;

    }

.grid-item1
{
    display: grid;
    height:fit-content;
    grid-column: 1 / 3;
    grid-row: 2 / 2;
    grid-area: myHeader;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    gap: 10px;
}

.sub-header1
{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: rgb(232, 250, 255);
    padding: 10px;
    gap: 10px;
}

.sub-header1:hover
{
    background-color: rgb(255, 242, 58);
}

.sub-header2
{
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: rgb(232, 250, 255);
    padding: 10px;
    gap: 10px;
}

.sub-header2:hover
{
    background-color: rgb(255, 242, 58);
}
.sub-header3
{
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: rgb(232, 250, 255);
    padding: 10px;
    gap: 10px;
}
.sub-header3:hover
{
    background-color: rgb(255, 242, 58);
}

.grid-item2 
{
    display: grid;
    height:fit-content;
    margin-top: 3px;
    margin-bottom: 3px;
    grid-column: 1/3;
    grid-row: 3/5;
    grid-area: hero;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    gap: 10px;
  }
  
  .sub-item1
  {
    height:fit-content;
    grid-row-start: 2;
    background-color: rgb(232, 250, 255);
    padding: 10px;
  }

  .sub-item1:hover
{
    background-color: rgb(255, 242, 58);
}

  .sub-item2
  {
    grid-row-start: 3;
    background-color: rgb(232, 250, 255);
    padding: 10px;
  }

  .sub-item2:hover
  {
    background-color: rgb(255, 242, 58);
  }

.grid-item3
{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-area: myAd;
    background-color: rgb(243, 66, 66);
    padding: 10px;
    gap: 10px;
}
.grid-item4
{
    display: grid;
    height:fit-content;
    grid-column: 1/2;
    grid-row: 6/8;
    grid-area: myMain;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    gap: 10px;

}
.sub-main1
{
    grid-row-start: 2;
    background-color: rgb(232, 250, 255);
    padding: 10px;
    gap: 20px;
}

.sub-main1:hover
{
    background-color: rgb(255, 242, 58);
}

.sub-main2
{
    grid-row-start: 3;
    background-color: rgb(232, 250, 255);
    padding: 10px;
    gap: 20px;
}

.sub-main2:hover
{
    background-color: rgb(255, 242, 58);
}

.grid-item5 
{
    display: grid;
    height:fit-content;
    grid-column: 1/3;
    grid-row: 9/10;
    grid-area: sidebar;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    gap: 10px;
}

.sub-sidebar1
{
    height:fit-content;
    grid-row-start: 2;
    background-color: rgb(232, 250, 255);
    padding: 10px;
}

.sub-sidebar1:hover
{
    background-color: rgb(255, 242, 58);
}

.grid-item6 
{
    display: grid;
    height:fit-content;
    grid-area: myFooter;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    gap: 10px;
}

}
/*tablet resolution end*/

/*smartphone resolution start*/

@media (max-width: 576px)
{
    .grid-container
    {   
        /*display: grid;*/
        /*background-color: rgb(21, 255, 0);*/
        grid-template-areas:
        'myHeader myHeader'
        'myHeader myHeader'
        'myHeader myHeader'
        'hero hero hero'
        'hero hero hero'
        'myAd myAd'
        'myMain myMain'
        'myMain myMain'
        /*'myAd myAd' should be here, but breaks grid*/
        'myMain myMain'
        'myFooter myFooter';
        padding: 5px;
        grid-template-columns: [col-start] 1fr 1fr [col-end];
        grid-template-rows: repeat(10, minmax(20px, auto));
        margin-top: 5px;
        margin-bottom:5px;

    }

.grid-item1
{
    display: grid;
    height:fit-content;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    grid-area: myHeader;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    gap: 5px;
}

.sub-header1
{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(232, 250, 255);
    padding: 10px;
    gap: 10px;
}

.sub-header1:hover
{
    background-color: rgb(255, 242, 58);
}

.sub-header2
{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: rgb(232, 250, 255);
    padding: 10px;
    gap: 5px;
}

.sub-header2:hover
{
    background-color: rgb(255, 242, 58);
}
.sub-header3
{
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: rgb(232, 250, 255);
    padding: 10px;
    gap: 5px;
}
.sub-header3:hover
{
    background-color: rgb(255, 242, 58);
}

.grid-item2 
{
    display: grid;
    height:fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    grid-column: 1/2;
    grid-row: 4/5;
    grid-area: hero;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    gap: 10px;
  }
  
  .sub-item1
  {
    display: none;
  }

  .sub-item2
  {
    grid-row-start: 2;
    background-color: rgb(232, 250, 255);
    padding: 10px;
  }

  .sub-item2:hover
  {
    background-color: rgb(255, 242, 58);
  }

  .grid-item3
{
    grid-area: myAd;
    background-color: rgb(243, 66, 66);
    padding: 10px;
    gap: 10px;
}

.grid-item4
{
    height:fit-content;
    grid-area: myMain;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

}
.sub-main1
{
    grid-row-start: 2;
    background-color: rgb(232, 250, 255);
    padding: 10px;
    margin-bottom: 5px;
    gap: 10px;
}

.sub-main1:hover
{
    background-color: rgb(255, 242, 58);
}

.sub-main2
{
    grid-row-start: 1;
    background-color: rgb(232, 250, 255);
    padding: 10px;
    gap: 20px;
}

.sub-main2:hover
{
    background-color: rgb(255, 242, 58);
}

.grid-item5 
{
    display: none;
}

.grid-item6 
{
    display: grid;
    height:fit-content;
    grid-area: myFooter;
    background-color:rgb(138, 208, 230);
    padding: 10px;
    gap: 10px;
}

}
/*smartphone resolution end*/

h1 {
    color:black;
}
h2 {
    color:black;
}
